<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <property name="LOG_ROOT" value="/home/jboss/logs" /> -->
    <property name="LOG_ROOT" value="D:\\Logs\\Fuse\\posicionconsolidada\\" />
    <property name="LOG_FILE_NAME" value="psc" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} - %-5level - %-33c %msg%n" />

    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/${LOG_FILE_NAME}.log</file>
        <append>false</append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOG_ROOT}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <!-- LOG everything at INFO level -->
    <!-- <root level="info"> -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>
    
    <!-- Para habilitar el log de debug -->
    <!-- <logger name="com.baustro.posicionconsolidada.Route.ProcesadorException" level="debug" additivity="false"> -->
    <logger name="com.baustro.posicionconsolidada.Route.ProcesadorException" level="debug" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>
      

</configuration>